
@import "variables";
/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "../styles.css";


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 300px;
  }


@media (min-width:400px) and (max-width: 774px) {

  .drop {
    li {
      background-color: red;
      color: white;
      width: 100%;
      text-align: center;
      padding: 0;
    }
    li:hover {
      background-color: black;
    }
  }
  .nav-top {
    a {
      text-decoration: none;
      color: white;


    }
    a:hover {
      text-decoration: none;
        color: white;
    }
  }
  .right {
    float: right;
    padding-right: 0;
  }

  .steve {
    .span-name {
      width: 380px;
      top: 200px;
    }
  }
  .fifth-row {
    margin-top: 43px;
    height: 1200px;
  }
  .skateboard-row {
    height: 100%;
  }
  .contact {
    height: 100%;
    margin-top: 23px;
  }
} //end of media
