body {
  background-image: url(http://unsplash.it/g/1920/1920);
  /*background-size: cover;*/
  margin: 0;
}

.container {
  border: 2px solid green;
  margin: 0;
  padding: 0;
}

/***********************************************************************
NAV (includes subscribe div and social links);
*************************************************************************/


/***************
Subscribe
****************/

.subscribe-link {
  float: right;
  padding-right: 30px;
  height: 60px;
  position: absolute;
  top: 20px;
}


/***************
Social Links
****************/
.social-links {
  margin: -15px;
  float: right;
}
.social-links li{
  list-style: none;
  display: inline-block;
  height: 60px;
  width: 60px;
  font-size: 60px;
}
.facebook i{
  color: #435896;
}
.rss i{
  color: #CC9031;
}
.twitter i{
  color: #6A8DC6;
}
.youtube i{
  color: #B1382B;
}
.social-nav {
  margin-bottom: 30px;
}
.social-nav a {
  float: right;
}


/***********************************************************************
Primary Navigation
*************************************************************************/
.top-nav {
  padding: 0;
}
.top-nav li {
  background-color: #B3292E;
  width: 24.86%;
  height: 29px;
  text-align: center;
  color: white;
  padding-top: 10px;
}

/***********************************************************************
First Row (first pic)
*************************************************************************/
.firstrow {
  background-image: url(mancam.jpg);
  height: 357px;
  background-image: cover;
  border: 3px solid white;
}

/***********************************************************************
Second Row (Tony Hawk descriptions 3 of them)
*************************************************************************/

.tony article {
  background-color: white;
}

/***********************************************************************
Third Row (headcount pics) also called row4
*************************************************************************/
.row4  {
  margin-bottom: 10px;
}
.headcount {
  border: 1px solid purple;
  height: 474px;
}
.tommy {
  border: 1px solid yellow;
  height: 474px;
  background-image: url("https://unsplash.it/600/800");
}
.lrm {
  border: 1px solid yellow;
  height: 232px;
  background-image: url("https://unsplash.it/400/300");
  background-size: cover;
}
.steve {
  border: 1px solid yellow;
  height: 240px;
  background-image: url("https://unsplash.it/800/300");
}

/***********************************************************************
Fourth Row (skateboard pics)
*************************************************************************/

.skateboard {
  height: 295px;
  background-image: url("https://unsplash.it/800/300");
  background-size: cover;
  margin-bottom: 20px;
}
/***********************************************************************
Fifth Row (contact information)
*************************************************************************/
.contact {
  border: 1px solid yellow;
  height: 361px;
  background-color: white;
}

.mess-type {
  margin-top: 35px;
}
.mess-type button {
  float: right;
  color: red;
  background-color: green;
}
