body {
  background-image: url(NYBridge.jpg);
  margin: 0;
}

.facebook i{
  color: #435896;
}
.rss i{
  color: #CC9031;
}
.twitter i{
  color: #6A8DC6;
}
.youtube i{
  color: #B1382B;
}

.social-nav {
  margin-bottom: 30px;
}
.social-nav a {
  float: right;

}
.subscribe-link {
  float: right;
  padding-right: 30px;
  height: 60px;
  position: absolute;
  top: 20px;
}
.social-links {
  margin: -15px;
  float: right;
}
.social-links li{
  list-style: none;
  display: inline-block;
  height: 60px;
  width: 60px;
  font-size: 60px;
}

.container {
  border: 2px solid green;
  margin: 0;
  padding: 0;
}
.primary-nav {
  margin-bottom: 20px;
}
.nav li {
  background-color: #B3292E;
  width: 24.86%;
  height: 29px;
  text-align: center;
  color: white;
  padding-top: 10px;
}
.firstpic {
  background-image: url(mancam.jpg);
  height: 357px;
  background-image: cover;
  border: 3px solid white;
}
.description {
  border: 1px solid black;
  background-color: white;
  height: 350px;
}
.tony {
  padding-left: 0;
  padding-right: 0;
}
.headcount {
  border: 1px solid purple;
  height: 474px;
}
.tommy {
  border: 1px solid yellow;
  height: 474px;
  background-image: url("https://unsplash.it/600/800");
}
.lrm {
  border: 1px solid yellow;
  height: 232px;
  background-image: url("https://unsplash.it/400/300");
  background-image: cover;
}
.steve {
  border: 1px solid yellow;
  height: 240px;
  background-image: url("https://unsplash.it/800/300");
}
.row4  {
  margin-bottom: 10px;
}
.contact {
  border: 1px solid yellow;
  height: 361px;
}
.mess-type {
  margin-top: 35px;
}
.mess-type button {
  float: right;
  color: red;
  background-color: green;
}
